#footer {
  text-align: center;
  background-color: #ffb10054;
  font-size: 20px;
  font: helvetica;
  margin-top: 40px;
  color: rgb(247, 102, 18);
}
#navbarSupportedContent {
  font-size: 1.5vw;
}

.align-left {
  align-content: flex-start;
}
.welcome0 {
  color: red;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 5vw;
  padding-bottom: 0%;
}

.welcome1 {
  padding-top: 0%;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 4vw;
}

.welcome2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
}

.logo {
  width: 8vh;
}

.icon-image {
  color: #462b2b;
  margin-bottom: 1rem;
}
.icon-image:hover {
  color: rgb(255, 0, 0);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}
/* #video {
  position: absolute;
  right: 20vw;
  top: 8vw;
  width: 300px;
  padding: 10px;
} */
